* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: black; */
}
svg {
  height: 20px;
  width: 20px;
}

.nav-bar {
  padding: 20px;
}

.nav-bar span {
  font-family: "Lobster";
  display: block;
  font-size: 10px;
  margin-left: 3rem;
}
.nav-bar .logo {
  font-family: "Lobster";
  font-size: 30px;
  color: black;
  text-decoration: underline;
}
.nav-bar,
.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav-bar ul {
  gap: 20px;
}

.nav-bar ul a:hover,
.active {
  cursor: pointer;
  color: black;

  font-weight: 600;
}

ul li {
  list-style: none;
}
li a {
  color: #807d7e;
  text-decoration: none;
}
.nav-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
}

.nav-icons div {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #f6f6f6;
  border-radius: 8px;
}
.nav-icons div:hover {
  background: #8a33fd;
 
  
}
.search-bar {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background-color: #f6f6f6;
}
.search-bar input {
  border: none;
  background-color: #f6f6f6;
  outline: none;
}
